package ${package}.${moduleName}.service.impl;

import com.alibaba.dubbo.config.annotation.Service;
import com.baomidou.mybatisplus.plugins.Page;
import com.baomidou.mybatisplus.service.impl.ServiceImpl;
import org.springframework.beans.factory.annotation.Autowired;
import ${mainPath}.common.result.PageInfo;

import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.I${className}Service;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service(
		application = "${dubbo.application.id}",
		protocol = "${dubbo.protocol.id}",
		registry = "${dubbo.registry.id}",
        group = "ZXPlatform"
)
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements I${className}Service {

    @Autowired
    private ${className}Mapper ${classname}Mapper;

    @Override
    public PageInfo selectDataGrid(PageInfo pageInfo){
        Page<Map<String, Object>> page = pageInfo.getPage();
        List<Map<String, Object>> list = ${classname}Mapper.select${className}Page(page, pageInfo.getCondition());
        pageInfo.setRows(list);
        pageInfo.setTotal(page.getTotal());
        return pageInfo;
    }

    @Override
    public List<Map<String, Object>> select${className}List(Map<String, Object> par){

        return ${classname}Mapper.select${className}List(par);
    }

}
