package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${mainPath}.common.result.PageUtils;
import ${package}.${moduleName}.entity.${className};
import java.util.List;
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service extends IService<${className}> {

    /**
    * 多表页面信息查询
    * @param params
    * @return
    */
    PageUtils selectDataGrid(Map<String, Object> params);

    /**
    * 多表信息查询
    * @param par
    * @return
    */
    List<Map<String, Object>> select${className}List(Map<String, Object> par);


}

